---
layout: default
---
<article class="module" id="{{ page.title | slugify }}">
  <header>
    <div>
    <i class="eyebrow">Modules</i>
    <h1>{{ page.title }}</h1>
    </div>
    <p>{{ page.description }}</p>
  </header>
  <nav class="local">
    <a href="{{ site.baseurl }}/modules/module/">Essay</a>
    <a href="{{ site.baseurl }}/modules/module/films">Films</a>
    <a href="{{ site.baseurl }}/modules/module/documents">Supporting Documents</a>
    <a href="{{ site.baseurl }}/modules/module/photographs">Photographs</a>
  </nav>
  <div class="content">
  {{ content }}
  </div>
</article>
